.loginMain {
    height: 70rem;
    width: 100%;
    background-color: #99BB7D;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.childSection {
    height: 87.7%;
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FDFDF4;
    border: 1px solid #E0F5D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px 5px #84AE63;
    justify-content: center;
}

.seconChildSection {
    height: 88%;
    width: 40%;
    box-shadow: 10px 10px 5px 5px #84AE63;
}

.formSection {
    height: 60%;
    width: 70%;
    align-items: center;
    /* align-items: center; */
}

.loginForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.loginFormInput {
    width: 90%;
    height: 8%;
    border: none;
    border-radius: 8px;
    /* border-style: solid;
    border-width: 1px;
    border-radius: 8px; */
}
